---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.vue';
import FactoryMapDetailed from '../components/FactoryMapDetailed.vue';
import Footer from '../components/Footer.vue';
---

<Layout>
  <Navbar client:load />
  <main>
    <FactoryMapDetailed client:load />
  </main>
  <Footer client:load />
</Layout>


